<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de login</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/validatorLogin-front.js"></script>
</head>
<body>
    <form action="/users/procesologin" method="post" id="formularioLogin">
        <h1>INICIO DE SESIÓN</h1>
        <div class="errorsLogin">
            <ul> </ul>
        </div>
        <input type="text" id="emailLogin" name="email" placeholder="Correo" value="<%= locals.oldData ? oldData.email : null %>" autocomplete="off" >
        <% if (locals.errors && errors.email) { %>
            <div class="">
                <p class="color-errores"><%= errors.email.msg %></p>
            </div>
        <% } %>
        <input type="password" id="contraseñaLogin"name="clave" placeholder="Contraseña" value="<%= locals.oldData ? oldData.clave : null %>" autocomplete="off">
        <% if (locals.errors && errors.clave) { %>
            <div class="">
                <p class="color-errores"><%= errors.clave.msg %></p>
            </div>
        <% } %>
        <h4><input type="radio" name="recordarUsuario">Recordar Usuario</input></h4>
        <span><p>¿No tienes una cuenta? </p><a href="/users/register">Crear cuenta.</a></span>
        <button type="submit">SIGUIENTE</button>
    </form>
    <div>
        <a class="loginBtn" href="/login"><p class="loginBtnTxt">Iniciar Sesión con Google</p><img class="loginBtnImg" src="/images/logo/Google_Logo.png" alt=""></a>
        <a class="loginBtn" href="/login"><p class="loginBtnTxt">Iniciar Sesión con Microsoft</p><img class="loginBtnImg" src="/images/logo/Microsoft_Logo.png" alt=""></a>
        <a class="loginBtn" href="/login"><p class="loginBtnTxt">Iniciar Sesión con Apple</p><img class="loginBtnImg" src="/images/logo/Apple_Logo.png" alt=""></a>
    </div>
</body>
</html>